@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --goButton: hwb(240 40% 0%); /* 120 default blue */
  --goButtonHover: hwb(250 10% 5%);
  --lightBg: hwb(212 95% 0%); /* 240 default blue */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-goButton: var(--goButton);
  --color-goButtonHover: var(--goButtonHover);
  --color-lightBg: var(--lightBg);
  --animate-toRight: toRight 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes toRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@layer utilities {
  body {
    @apply font-serif tracking-wide bg-lightBg;
  }
  .go-button {
    @apply px-4 py-2 bg-goButton transition duration-200 ease-in-out hover:shadow-lg hover:bg-goButtonHover text-white active:bg-indigo-700 active:shadow-sm active:ring-2 active:ring-indigo-400 active:ring-offset-1 active:scale-95;
  }
  .title {
    @apply text-2xl tracking-wide font-extrabold italic bg-gradient-to-r from-[#018ffb] via-[#0b36f3] via-80% to-[#5410ff] bg-clip-text text-transparent;
  }
  .landing-formLabel {
    @apply ml-2;
  }
  .landing-formInput {
    @apply pl-4 pr-10 py-2 w-full border-2 rounded-xl;
  }
  .landing-hidePass {
    @apply absolute right-0 top-0 cursor-pointer p-2.5;
  }
  .notif {
    @apply ring-2 absolute top-0 right-0 rounded-lg pl-3 pr-5 py-3 mt-5 mr-5 animate-toRight;
  }
  .notif div div span {
    @apply text-sm font-black font-sans tracking-wider;
  }
  .notif div div p {
    @apply min-w-[100px] max-w-[300px] text-wrap font-sans;
  }
  .nav-link {
    @apply flex flex-row items-center gap-4 ml-6 p-2 my-1;
  }
  .icon-nav {
    @apply stroke-[1] size-10;
  }
}
